* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* html */
html {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*dando el estilo al body*/
body {
  background-color: beige;
}
/*ocultando los modales*/
/*.oculto{
  display:none;
}
/*Section*/
section{
  width: 90%;
  display: flex;
  margin: 13rem auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
/*1r div*/
.ventas-por-sucursal{
  width: 49%;
  display:flex;
  flex-wrap: wrap;
}
.cabezal{
  width: 100%;
  background-color: rgb(78, 170, 139);
  padding: 0.5em;
  display:flex;
  justify-content: space-between;
}
.sucursal{
  padding-right: 3em;
}
/*fin 1r div*/

/*2do div*/
.reportes{
  width: 49%;
  display: flex;
  flex-wrap: wrap;
}
.fijo{
  width: 100%;
}
/*fin 2do div*/

/*3r div*/
.ventas{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
th,
td {
  width: 300px;
  overflow: hidden;
}
#btn-ventas{
  background-color: darkblue;
  padding: 0.3em;
  color: whitesmoke;
  margin:0.6em;
}
.fa-plus-circle{
  margin-right: 0.5em;
}
/*fin 3r div*/

/*Estilos modales*/
.agregar-venta{
  width: 50%;
  display:flex;
  flex-wrap: wrap;
  outline: 2px solid black;
}
.cabezal-modal{
  width: 100%;
}
.foot{
  width: 100%;
}
form{
display:block;
}