* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* html */
html {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*dando el estilo al body*/
body {
  background-color: beige;
}
/*inicio section*/
section {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10rem auto;
  gap:0.8em; 
}
/*fin section*/
/* inicio 1r div */
.ventas-por-sucursal {
  width: 49%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.por-sucursal{
    width: 100%;
    padding:0.2em;
    background-color:rgb(228, 142, 142);
    color:seashell;
}
/* fin 1r div */
/* divs hijos del 1r div */
.sucursal {
  width: 50%;
}
.total {
  width: 50%;
}
/*  */
/* inicio el 2do div */
.reportes {
  width: 49%;
}
.h3-reportes{
  width: 100%;
  background-color: rgb(228, 142, 142);
  padding:0.2em;
  color:seashell;
}
/* el hijo del 2do div */
.productos {
  margin-top:0.5em;
  padding: 0.5em;
}
span{
  font-weight: bolder;
}
/* fin el 2do div */
/* inicio 3r div */
.ventas{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
}
.cabezal{
    width: 100%;
    display:flex;
    justify-content:space-between;
    padding:0.8em;
    background-color: rgb(228, 142, 142);
    color:seashell;
}
button{
    background-color: green;
    color:white;
}
.fa-plus-circle{
    color:white;
}
.info{
    width: 100%;
}
.row{
  font-weight: bolder;
  color:darkslateblue;
}
td{
    padding: 0.2em 2em;
}
.fas{
    margin:.4em;
}
.fa-trash-alt{
    color:rgb(255, 24, 24);
    font-size: 14px;
}
.fa-pencil-alt{
     color: darkgreen;
     font-size: 14px;
}